body {
  font-family: Helvetica Neue;
}

h2 {
  margin: 12px 2px;
}

ul {
  padding-left: 6px;
  margin: 12px;

  li {
    list-style: none;
    text-indent: 1em;
  }

  li.filed {
    text-indent: 0;
  }

  li.filed:before {
    content: '✔';
    margin-right: 5px;
  }
}
