@import "vars.scss";

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: $color-solarized-bg;
  color: $color-solarized-base2;
}

h1, h2 {
  margin: 12px 0;
}

.year {
  float: left;
}

.year-list {
  padding-left: 6px;
  width: 150px;
  margin: 0;

  a {
    color: $color-solarized-blue;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    list-style: none;

    &:before {
      content: '☐';
      margin-right: 5px;
    }

    &.filed:before {
      content: '☑';
    }
  }
}
