@charset "UTF-8";
body {
  font-family: Helvetica Neue; }

h2 {
  margin: 12px 2px; }

ul {
  padding-left: 6px;
  margin: 12px; }
  ul li {
    list-style: none;
    text-indent: 1em; }
  ul li.filed {
    text-indent: 0; }
  ul li.filed:before {
    content: '✔';
    margin-right: 5px; }
