@import "vars";

@media print {
  .navigation {
    display: none;
  }

  .report-view {
    width: 100% !important;
    height: 100% !important;
  }
}

html, body {
  height: 100vh;
}

body {
  display: flex;
  margin: 0 auto;

  font-family: 'Helvetica Neue', sans-serif;
  background-color: $color-solarized-bg;
  color: $color-solarized-base2;
}

.navigation {
  margin: 0.6em;

  h1 {
    margin: 0.2em 0;
  }

  h2 {
    margin: 0.5em 0;
  }
}

.report-view {
  margin: 0.6em;
  width: 210mm;
  height: calc(100% - 2em);
  overflow: hidden;

  box-shadow: 0 8px 15px rgba(0,0,0,0.5);
  background-color: #fff;

  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.year {
  display: block;
}

.year-list {
  padding: 0;
  width: 150px;
  margin: 0;

  a {
    color: $color-solarized-blue;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  li {
    list-style: none;

    &:before {
      content: '☐';
      margin-right: 5px;
    }

    &.filed:before {
      content: '☑';
    }
  }
}
