$color-gray: rgb(128, 128, 128);

$font-size-small: 9pt;
$font-size-normal: 11pt;
$font-size-large: 16pt;

@mixin force-height($height) {
  height: $height;
  max-height: $height;
  min-height: $height;
}

@page {
  size: A4;
}

@media print {
  html, body {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

body {
  font: $font-size-normal Helvetica;
  color: $color-gray;
  width: calc(210mm - 20mm - 12mm);
  max-width: calc(210mm - 20mm - 12mm);
  margin: 12mm 12mm 0 20mm;
}

h1 {
  margin: 1mm 0;
  font-size: $font-size-large;
}

.nachweis {
  border-collapse: collapse;
  table-layout: fixed;

  td {
    border: 1px solid $color-gray;
    padding: 0 4px;
    margin: 0;
  }

  // Dimensions

  .row-header td {
    @include force-height(28mm);
  }

  .row-activity td {
    @include force-height(140mm);
  }

  .row-topics-head td {
    @include force-height(13mm);
  }

  .row-topics td {
    @include force-height(68mm);
  }

  .row-signatures td {
    @include force-height(28mm);
  }

  .row-header  {
    td {
      position: relative;

      span {
        float: right;
      }

      >:nth-child(1), >:nth-child(2) {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
      }

      >:nth-child(1) {
        bottom: 15mm;
      }

      >:nth-child(2) {
        bottom: 6mm;
      }
    }

    .meta-dept, .meta-nr-and-date {
      width: 5.25cm;
    }

    .headline {
      width: 7.5cm;
    }

    .meta-dept, .headline {
      text-align: center;

      span {
        float: none;
      }
    }

    .meta-nr-and-date {
      p {
        left: 3mm;
        right: 3mm;
      }
    }
  }

  .row-activity, .row-topics {
    vertical-align: top;

    h2, p {
      font-size: $font-size-normal;
      margin: 0;
      padding: 0;
    }

    h2 {
      font-weight: normal;
    }

    p {
      padding-left: 9mm;
    }
  }

  .row-activity h1 {
    margin-bottom: 3mm;
  }

  .row-activity .week {
    height: calc(25% - 10px);
  }

  .row-topics .week {
    height: 25%;
    padding-top: 2mm;
    padding-bottom: 2mm;
  }

  .row-topics-head {
    font-size: $font-size-small;
    text-align: center;
  }

  .row-signatures {
    vertical-align: bottom;
    text-align: center;
    font-size: $font-size-small;

    td {
      padding: 1mm;
      @include force-height(18mm);
    }

    >:nth-child(1) {
      width: 56mm;
    }

    >:nth-child(2) {
      width: 56mm;
    }
  }
}
