@page {
  margin: 0;
  size: A4; }

  @media print {
    .navigation {
      display: none;   }
      .report-view {
        margin: 0 !important;
        width: 100% !important;
        height: 100% !important;
        box-shadow: none !important;   }
}

html {
  box-sizing: border-box; }

  *, *:before, *:after {
    box-sizing: inherit; }

    html, body {
      height: 100vh; }

      body {
        display: flex;
        margin: 0 auto;
        font-family: 'Helvetica Neue', sans-serif;
        background-color: #fdf6e3;
        color: #073642; }

        .navigation {
          margin: 0.6em; }
          .navigation h1 {
            margin: 0.2em 0; }
            .navigation h2 {
              margin: 0.5em 0; }

.report-view {
  margin: 0.6em;
  width: 210mm;
  height: calc(100% - 2em);
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  background-color: #fff; }
  .report-view iframe {
    border: none;
    width: 100%;
    height: 100%; }

.year {
  display: block; }

  .year-list {
    padding: 0;
    width: 150px;
    margin: 0; }
    .year-list a {
      color: #268bd2;
      text-decoration: none;
      vertical-align: middle; }
      .year-list a:hover {
        text-decoration: underline; }
        .year-list a.active {
          font-weight: bold;
          text-decoration: underline; }
    .year-list li {
      list-style: none; }
      .year-list li:before {
        content: '☐';
        margin-right: 5px; }
        .year-list li.filed:before {
          content: '☑'; }
