@page {
  size: A4; }

  @media print {
    html, body {
      overflow: hidden;   }
}

* {
  box-sizing: border-box; }

  body {
    font: 11pt Helvetica;
    color: gray;
    width: calc(210mm - 20mm - 12mm);
    max-width: calc(210mm - 20mm - 12mm);
    margin: 12mm 12mm 0 20mm; }

    h1 {
      margin: 1mm 0;
      font-size: 16pt; }

      .nachweis {
        border-collapse: collapse;
        table-layout: fixed; }
        .nachweis td {
          border: 1px solid gray;
          padding: 0 4px;
          margin: 0; }
          .nachweis .row-header td {
            height: 28mm;
            max-height: 28mm;
            min-height: 28mm; }
            .nachweis .row-activity td {
              height: 140mm;
              max-height: 140mm;
              min-height: 140mm; }
              .nachweis .row-topics-head td {
                height: 13mm;
                max-height: 13mm;
                min-height: 13mm; }
                .nachweis .row-topics td {
                  height: 68mm;
                  max-height: 68mm;
                  min-height: 68mm; }
                  .nachweis .row-signatures td {
                    height: 28mm;
                    max-height: 28mm;
                    min-height: 28mm; }
                    .nachweis .row-header td {
                      position: relative; }
                      .nachweis .row-header td span {
                        float: right; }
                        .nachweis .row-header td > :nth-child(1), .nachweis .row-header td > :nth-child(2) {
                          position: absolute;
                          margin: 0 auto;
                          left: 0;
                          right: 0; }
                          .nachweis .row-header td > :nth-child(1) {
                            bottom: 15mm; }
                            .nachweis .row-header td > :nth-child(2) {
                              bottom: 6mm; }
                    .nachweis .row-header .meta-dept, .nachweis .row-header .meta-nr-and-date {
                      width: 5.25cm; }
                      .nachweis .row-header .headline {
                        width: 7.5cm; }
                        .nachweis .row-header .meta-dept, .nachweis .row-header .headline {
                          text-align: center; }
                          .nachweis .row-header .meta-dept span, .nachweis .row-header .headline span {
                            float: none; }
                    .nachweis .row-header .meta-nr-and-date p {
                      left: 3mm;
                      right: 3mm; }
        .nachweis .row-activity, .nachweis .row-topics {
          vertical-align: top; }
          .nachweis .row-activity h2, .nachweis .row-activity p, .nachweis .row-topics h2,
          .nachweis .row-topics p {
            font-size: 11pt;
            margin: 0;
            padding: 0; }
            .nachweis .row-activity h2, .nachweis .row-topics h2 {
              font-weight: normal; }
              .nachweis .row-activity p, .nachweis .row-topics p {
                padding-left: 9mm; }
        .nachweis .row-activity h1 {
          margin-bottom: 3mm; }
          .nachweis .row-activity .week {
            height: calc(25% - 10px); }
            .nachweis .row-topics .week {
              height: 25%;
              padding-top: 2mm;
              padding-bottom: 2mm; }
              .nachweis .row-topics-head {
                font-size: 9pt;
                text-align: center; }
                .nachweis .row-signatures {
                  vertical-align: bottom;
                  text-align: center;
                  font-size: 9pt; }
                  .nachweis .row-signatures td {
                    padding: 1mm;
                    height: 18mm;
                    max-height: 18mm;
                    min-height: 18mm; }
                    .nachweis .row-signatures > :nth-child(1) {
                      width: 56mm; }
                      .nachweis .row-signatures > :nth-child(2) {
                        width: 56mm; }
