extends base

block content

  each year in years
    div(class="year")
      h2= year.yearNo
      ul(class="year-list")
        each report in year.reports
          li(class=("filed" if report.filed else ""))
            a(href=report.url target="_blank")= report.month_name

