<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Berichtsheft</title>
    <link rel="stylesheet" href="/static/main.css"/>
    <script src="/static/main.js"></script>
  </head>
  <body>

    <div class="navigation">
      <h1>Berichtshefte</h1>

      {% for year in years %}
      <div class="year">
        <h2>{{ year.title }}</h2>
        <ul class="year-list">
          {% for report in year.reports %}
          <li class="{{ "filed" if report.filed else "" }}">
            <a href="{{ report.url }}" target="_blank">{{ report.month_name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>

    <div class="report-view">
      <iframe src=""></iframe>
    </div>

  </body>
</html>
